<div class="row">
	<div class="span8">
		<h3>Image Compare</h3>
		<p>Image Compare is my, <a href="http://www.twitter.com/spencer_carli">@spencer_carli</a>, first attempt at building and deploying a Ruby on Rails app, at least doing so on my own. It's a simple app that compares two images side by side. At this point it has basic authentication (using sorcery) and requires you to create an account/ login before you can submit you own app. I'm fumbling around in the dark with this right now so any comments and/or suggestions are greatly appreciated! <a href="https://github.com/spencercarli/imgDisplay">Code is available on GitHub.</a> Screw around on here, add some images, try to break stuff but please don't delete pictures submitted by others! (I need to add some permissions or something so you can only delete your own pictures)</p>
		<p>Links to stuff</p>
		<ul>
			<li>Twitter: <a href="http://www.twitter.com/spencer_carli">@spencer_carli</a></li>
			<li>GitHub: <a href="https://github.com/spencercarli/imgDisplay">spencercarli</a></li>
		</ul>
	</div>
	<div class="span4">
		<br />
		<br />
		<img src="<%= @homepages.link %>" alt="" class="center-image"/>
		<br />
		<br />
		<div class="center-button">
			<%= button_to 'View images', submits_path, :method => "get", :class=>"btn btn-primary" %>
		</div>
		<div class="center-button">
			<%= button_to 'Submit images', new_submit_path, :method=>"get", :class=>"btn btn-success" %>
		</div>
		<br />
	</div>
</div>

