<div class="row">
	<div class="span8">
		<h2>Image Compare</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sagittis mi. Nunc ac nulla lacus. Duis sit amet ipsum a lectus dictum congue. Maecenas felis lorem, dictum et sodales sit amet, fermentum a lorem. Praesent eget nunc nec eros pulvinar auctor. Praesent rutrum, velit in dapibus gravida, ipsum erat lobortis felis, feugiat hendrerit nibh magna viverra dui. Quisque tortor est, ultrices non posuere sit amet, consequat in diam. Praesent convallis dolor sit amet dui dapibus vel adipiscing elit posuere. Donec et elit sit amet enim pretium porttitor sit amet quis orci. Donec fermentum tristique massa, sodales fermentum ipsum dapibus sed. Vestibulum sollicitudin placerat adipiscing. Aenean nec tempor lectus. Donec consectetur ligula sed diam dapibus luctus.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sagittis mi. Nunc ac nulla lacus. Duis sit amet ipsum a lectus dictum congue. Maecenas felis lorem, dictum et sodales sit amet, fermentum a lorem. Praesent eget nunc nec eros pulvinar auctor. Praesent rutrum, velit in dapibus gravida, ipsum erat lobortis felis, feugiat hendrerit nibh magna viverra dui. Quisque tortor est, ultrices non posuere sit amet, consequat in diam. Praesent convallis dolor sit amet dui dapibus vel adipiscing elit posuere. Donec et elit sit amet enim pretium porttitor sit amet quis orci. Donec fermentum tristique massa, sodales fermentum ipsum dapibus sed. Vestibulum sollicitudin placerat adipiscing. Aenean nec tempor lectus. Donec consectetur ligula sed diam dapibus luctus.</p>
	</div>
	<div class="span4">
		<img src="<%= @homepages.link %>" alt="" class="center-image"/>
		<br />
		<br />
		<div class="center-button">
			<%= button_to 'View images', submits_path, :method => "get", :class=>"btn btn-primary" %>
		</div>
		<div class="center-button">
			<%= button_to 'Submit images', new_submit_path, :method=>"get", :class=>"btn btn-success" %>
		</div>
		<br />
	</div>
</div>

