<h3>Submit your image!</h3>
<p class="">Choose an image from anywhere on the web to submit! Just copy the link and make sure that it is an image file (png, jpeg, gif) and add a title to it and you're set!</p>

<%= render 'form' %>

<%= link_to 'Back', submits_path %>
