// Place all the styles related to the Submits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_display {
	margin: 10px;
	width: 45%;
}

#container {
	width: 100%;
	margin: 10px;
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}

.title {
	text-align:center;
}